
@mixin mode_2{
// Backgrounds
$B1: hsl(0, 0%, 90%);
$B2: hsl(0, 5%, 81%);
$B3: hsl(0, 0%, 93%);

// Keys
$K1: hsl(185, 42%, 37%);
$K2: hsl(185, 58%, 25%);
$K3: hsl(25, 98%, 40%);
$K4: hsl(25, 99%, 27%);
$K5: hsl(45, 7%, 89%);
$K6: hsl(35, 11%, 61%);

//Text
$T1: hsl(60, 10%, 19%);
$T2: hsl(0, 0%, 100%) ;
.C-Header{
    background-color: $B1;
}
.C-H-Title{
    color: $T1;

}
.C-H-ThemeSwitcher{
    color: $T1;
}
.C-Display{
    background-color: $B3;
    color: $T1;
}
.C-Controls{
    background-color: $B2;
    .BN{
        background-color: $K5;
        box-shadow: $K6 0px 5px 2px;
        color: $T1;
    }
    .BN:hover, .BB:hover{
        background-color: lighten($K5,30%);
    }
    .BA, .BB, .Bdel{
        color: $T2;
    }
    .Bdel, .BB{
        background-color: $K1;
        box-shadow: $K2 0px 5px 2px;
        font-size: 0.8em;
    }
    .BB:hover, .Bdel:hover{
        background-color: lighten($K1,20%);
    }
    .BA{
        background-color: $K3;
        box-shadow: $K4 0px 5px 2px;
    }
    .BA:hover{
        background-color: lighten($K3,20%);
    }
}
.layer{
    background-color: $B3;
}
#button-1 .knobs:before{
    background-color: $K3;
}
}


/* 
Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0%, 100%) 
*/

