@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
$font: 'League Spartan', sans-serif;
@import 'mode_1';
@import 'mode_2';
@import 'mode_3';
@import 'toggle';

*{
    padding: 0;
    margin: 0;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: $font;
    transition: all ease 500ms;
}
.App{
    width: 550px;
    font-size: 32px;
}
.Calculator{
    height: 80vh;
    width: inherit;
    
}
.C-Header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    border-radius: 10px;
    transition: all ease 500ms;
    .C-H-Title{
        align-self: flex-end;
    }
    .C-H-ThemeSwitcher{
        display: flex;
        width: 30%;
        justify-content: space-between;
        .title{
            align-self: flex-end;
            font-size: 0.5em;
            letter-spacing: 1px;
        }
        .C-H-TS-Modes{
            align-self: flex-end;
            padding-bottom: 5px;
            font-size: 0.6em;
            letter-spacing: 6px;
        }
        .button-cover{
            display: flex;
            flex-direction: column;
            cursor: pointer;
        }

    }
}

.C-Display{
    width: inherit;
    transition: all ease 500ms;
    .C-D-Answer{
        padding-top: 5%;
        padding-bottom: 2%;
        font-size: 2.5em;
        display: flex;
        justify-content: flex-end;
        vertical-align: middle;
        text-align: center;
        margin-right: 3%;
    }
    margin-bottom: 5%;
    border-radius: 10px;
    
}
.C-Controls{
    padding: 8%;
    border-radius: 10px;
    transition: all ease 500ms;
    .C-C-B{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        transition: all ease 500ms;
    }
.C-Controls-1{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,60px);
    row-gap: 30px;
    column-gap: 20px;
    
    
    .B7{
        grid-column: 1;
        grid-row: 1;
    }
    .B8{
        grid-column: 2;
        grid-row: 1;
    }
    .B9{
        grid-column: 3;
        grid-row: 1;
    }
    .Bdel{
        grid-column: 4;
        grid-row: 1;
    }
    .B4{
        grid-column: 1;
        grid-row: 2;
    }
    .B5{
        grid-column: 2;
        grid-row: 2;
    }
    .B6{
        grid-column: 3;
        grid-row: 2;
    }
    .B1{
        grid-column: 1;
        grid-row: 3;
    }
    .B2{
        grid-column: 2;
        grid-row: 3;
    }
    .B3{
        grid-column: 3;
        grid-row: 3;
    }
    .B0{
        grid-column: 2;
        grid-row: 4;
    }
    .Bdeci{
        grid-column: 1;
        grid-row: 4;
    }
    .Bdiv{
        grid-column: 3;
        grid-row: 4;
    }
    .Bmul{
        grid-column: 4;
        grid-row: 4;
        font-size: 0.8em;
    }
    .Bminus{
        grid-column: 4;
        grid-row: 3;
    }

}
.C-Controls-2{
    display: grid;
    padding-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,60px);
    column-gap: 20px;
    .Bequal{
        grid-column: 2;
        grid-row: 1;
    }
    .Bclear{
        grid-column: 1;
        grid-row: 1;
    }
}
}


.mode1{
    @include mode_1;
    
}
.mode2{
    @include mode_2;
}
.mode3{
    @include mode_3;

}

@media only screen and (min-width: 1024px) and  (max-width:1440px){
    .Calculator{
        height: 90vh !important;

        
    }
    .C-H-TS-Modes{
        padding-bottom: 5px;
        font-size: 0.6em;
        letter-spacing: 8px !important;
    }
    .App{
        width: 500px !important;
        font-size: 28px !important;
    }
    .C-Controls{
        height: 50vh;

        .C-Controls-1{
            row-gap: 30px;
            column-gap: 15px;
            grid-template-rows: repeat(4,40px);
        }      
        .C-Controls-2{
            grid-template-rows: repeat(1,40px);
            column-gap: 15px;
        }  
    }
  }
  @media only screen and (min-width: 768px) and  (max-width:1023px){
    .Calculator{
        height: 90vh !important;

        
    }
    .C-H-TS-Modes{
        padding-bottom: 5px;
        font-size: 0.6em;
        letter-spacing: 9px !important;
    }
    .App{
        width: 450px !important;
        font-size: 24px !important;
    }
    .C-Controls{
        height: 50vh;
        .C-Controls-1{
            row-gap: 30px;
            column-gap: 15px;
            grid-template-rows: repeat(4,40px);
        }      
        .C-Controls-2{
            grid-template-rows: repeat(1,40px);
            column-gap: 15px;
        }  
    }
  }
  @media only screen and (min-width: 350px) and  (max-width:767px){
    .Calculator{
        height: 90vh !important;

        
    }
    .C-H-TS-Modes{
        padding-bottom: 5px;
        font-size: 0.6em;
        letter-spacing: 5px !important;
    }
    .button {

        width: 60px;
        height: 20px;
      }
      .knobs:before {
        content: " ";
        position: absolute;
        top: 3px !important;
        left: 4px;
        width: 6px !important;
        height: 1px !important;

        padding: 6px 4px !important;

      }
      
    .App{
        width: 350px !important;
        font-size: 24px !important;
    }
    .C-Controls{
        height: 50vh;
        .C-Controls-1{
            row-gap: 30px;
            column-gap: 15px;
            grid-template-rows: repeat(4,40px);
        }      
        .C-Controls-2{
            grid-template-rows: repeat(1,40px);
            column-gap: 15px;
        }  
    }
  }