@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
/* 
Backgrounds

- Very dark desaturated blue (main background): hsl(222, 26%, 31%)
- Very dark desaturated blue (toggle background, keypad background): hsl(223, 31%, 20%)
- Very dark desaturated blue (screen background): hsl(224, 36%, 15%)
Keys

- Desaturated dark blue (key background): hsl(225, 21%, 49%)
- Desaturated dark blue (key shadow): hsl(224, 28%, 35%)

- Red (key background, toggle): hsl(6, 63%, 50%)
- Dark red (key shadow): hsl(6, 70%, 34%)

- Light grayish orange (key background): hsl(30, 25%, 89%)
- Grayish orange (key shadow): hsl(28, 16%, 65%)
Text

- Very dark grayish blue: hsl(221, 14%, 31%)
- White: hsl(0, 0%, 100%) 
*/
/* 
Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0%, 100%) 
*/
/* 
Backgrounds

- Very dark violet (main background): hsl(268, 75%, 9%)
- Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)

Keys

- Dark violet (key background): hsl(281, 89%, 26%)
- Vivid magenta (key shadow): hsl(285, 91%, 52%)

- Pure cyan (key background, toggle): hsl(176, 100%, 44%)
- Soft cyan (key shadow): hsl(177, 92%, 70%)

- Very dark violet (key background): hsl(268, 47%, 21%)
- Dark magenta (key shadow): hsl(290, 70%, 36%)

Text

- Light yellow: hsl(52, 100%, 62%)
- Very dark blue: hsl(198, 20%, 13%)
- White (text): hsl(0, 0%, 100%) 
*/
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 80px;
  height: 25px;
  margin: 0px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.switcher-button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-1 .knobs:before {
  content: " ";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 10px;
  height: 2px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  font-size: 5px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  -webkit-transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

* {
  padding: 0;
  margin: 0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.App {
  width: 550px;
  font-size: 32px;
}

.Calculator {
  height: 80vh;
  width: inherit;
}

.C-Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
  border-radius: 10px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.C-Header .C-H-Title {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.C-Header .C-H-ThemeSwitcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.C-Header .C-H-ThemeSwitcher .title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 0.5em;
  letter-spacing: 1px;
}

.C-Header .C-H-ThemeSwitcher .C-H-TS-Modes {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 5px;
  font-size: 0.6em;
  letter-spacing: 6px;
}

.C-Header .C-H-ThemeSwitcher .button-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.C-Display {
  width: inherit;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  margin-bottom: 5%;
  border-radius: 10px;
}

.C-Display .C-D-Answer {
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  vertical-align: middle;
  text-align: center;
  margin-right: 3%;
}

.C-Controls {
  padding: 8%;
  border-radius: 10px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.C-Controls .C-C-B {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.C-Controls .C-Controls-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (60px)[4];
      grid-template-rows: repeat(4, 60px);
  row-gap: 30px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.C-Controls .C-Controls-1 .B7 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.C-Controls .C-Controls-1 .B8 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.C-Controls .C-Controls-1 .B9 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.C-Controls .C-Controls-1 .Bdel {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.C-Controls .C-Controls-1 .B4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}

.C-Controls .C-Controls-1 .B5 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.C-Controls .C-Controls-1 .B6 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.C-Controls .C-Controls-1 .B1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}

.C-Controls .C-Controls-1 .B2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.C-Controls .C-Controls-1 .B3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

.C-Controls .C-Controls-1 .B0 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

.C-Controls .C-Controls-1 .Bdeci {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
}

.C-Controls .C-Controls-1 .Bdiv {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
}

.C-Controls .C-Controls-1 .Bmul {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 4;
  font-size: 0.8em;
}

.C-Controls .C-Controls-1 .Bminus {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
}

.C-Controls .C-Controls-2 {
  display: -ms-grid;
  display: grid;
  padding-top: 30px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (60px)[1];
      grid-template-rows: repeat(1, 60px);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.C-Controls .C-Controls-2 .Bequal {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.C-Controls .C-Controls-2 .Bclear {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.mode1 .C-Header {
  background-color: #3a4764;
}

.mode1 .C-H-Title {
  color: white;
}

.mode1 .C-H-ThemeSwitcher {
  color: white;
}

.mode1 .C-Display {
  background-color: #182034;
  color: white;
}

.mode1 .C-Controls {
  background-color: #232c43;
}

.mode1 .C-Controls .BN {
  background-color: #eae3dc;
  -webkit-box-shadow: #b4a597 0px 5px 2px;
          box-shadow: #b4a597 0px 5px 2px;
  color: #444b5a;
}

.mode1 .C-Controls .BN:hover {
  background-color: white;
}

.mode1 .C-Controls .BA, .mode1 .C-Controls .BB, .mode1 .C-Controls .Bdel {
  color: white;
}

.mode1 .C-Controls .Bdel, .mode1 .C-Controls .BB {
  background-color: #637097;
  -webkit-box-shadow: #404e72 0px 5px 2px;
          box-shadow: #404e72 0px 5px 2px;
  font-size: 0.8em;
}

.mode1 .C-Controls .BB:hover, .mode1 .C-Controls .Bdel:hover {
  background-color: #bec4d5;
}

.mode1 .C-Controls .BA {
  background-color: #d03f2f;
  -webkit-box-shadow: #93261a 0px 5px 2px;
          box-shadow: #93261a 0px 5px 2px;
}

.mode1 .C-Controls .BA:hover {
  background-color: #ecb2ac;
}

.mode1 .layer {
  background-color: #182034;
}

.mode1 #button-1 .knobs:before {
  background-color: #d03f2f;
}

.mode2 .C-Header {
  background-color: #e6e6e6;
}

.mode2 .C-H-Title {
  color: #35352c;
}

.mode2 .C-H-ThemeSwitcher {
  color: #35352c;
}

.mode2 .C-Display {
  background-color: #ededed;
  color: #35352c;
}

.mode2 .C-Controls {
  background-color: #d1cccc;
}

.mode2 .C-Controls .BN {
  background-color: #e5e4e1;
  -webkit-box-shadow: #a69d91 0px 5px 2px;
          box-shadow: #a69d91 0px 5px 2px;
  color: #35352c;
}

.mode2 .C-Controls .BN:hover, .mode2 .C-Controls .BB:hover {
  background-color: white;
}

.mode2 .C-Controls .BA, .mode2 .C-Controls .BB, .mode2 .C-Controls .Bdel {
  color: white;
}

.mode2 .C-Controls .Bdel, .mode2 .C-Controls .BB {
  background-color: #377f86;
  -webkit-box-shadow: #1b5f65 0px 5px 2px;
          box-shadow: #1b5f65 0px 5px 2px;
  font-size: 0.8em;
}

.mode2 .C-Controls .BB:hover, .mode2 .C-Controls .Bdel:hover {
  background-color: #63b8bf;
}

.mode2 .C-Controls .BA {
  background-color: #ca5502;
  -webkit-box-shadow: #893901 0px 5px 2px;
          box-shadow: #893901 0px 5px 2px;
}

.mode2 .C-Controls .BA:hover {
  background-color: #fd8835;
}

.mode2 .layer {
  background-color: #ededed;
}

.mode2 #button-1 .knobs:before {
  background-color: #ca5502;
}

.mode3 .C-Header {
  background-color: #160628;
}

.mode3 .C-H-Title {
  color: #ffe53d;
}

.mode3 .C-H-ThemeSwitcher {
  color: #ffe53d;
}

.mode3 .C-Display {
  background-color: #1d0934;
  color: #ffe53d;
}

.mode3 .C-Controls {
  background-color: #1d0934;
}

.mode3 .C-Controls .BN {
  background-color: #341c4f;
  -webkit-box-shadow: #871c9c 0px 5px 2px;
          box-shadow: #871c9c 0px 5px 2px;
  color: #ffe53d;
}

.mode3 .C-Controls .BN:hover, .mode3 .C-Controls .BB:hover {
  background-color: #65379a;
}

.mode3 .C-Controls .BB, .mode3 .C-Controls .Bdel {
  color: white;
}

.mode3 .C-Controls .BA {
  color: #1b2428;
}

.mode3 .C-Controls .Bdel, .mode3 .C-Controls .BB {
  background-color: #58077d;
  -webkit-box-shadow: #bc15f4 0px 5px 2px;
          box-shadow: #bc15f4 0px 5px 2px;
  font-size: 0.8em;
}

.mode3 .C-Controls .BA {
  background-color: #00e0d1;
  -webkit-box-shadow: #6cf9f2 0px 5px 2px;
          box-shadow: #6cf9f2 0px 5px 2px;
}

.mode3 .C-Controls .BA:hover {
  background-color: #47fff3;
}

.mode3 .layer {
  background-color: #1d0934;
}

.mode3 #button-1 .knobs:before {
  background-color: #00e0d1;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .Calculator {
    height: 90vh !important;
  }
  .C-H-TS-Modes {
    padding-bottom: 5px;
    font-size: 0.6em;
    letter-spacing: 8px !important;
  }
  .App {
    width: 500px !important;
    font-size: 28px !important;
  }
  .C-Controls {
    height: 50vh;
  }
  .C-Controls .C-Controls-1 {
    row-gap: 30px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -ms-grid-rows: (40px)[4];
        grid-template-rows: repeat(4, 40px);
  }
  .C-Controls .C-Controls-2 {
    -ms-grid-rows: (40px)[1];
        grid-template-rows: repeat(1, 40px);
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .Calculator {
    height: 90vh !important;
  }
  .C-H-TS-Modes {
    padding-bottom: 5px;
    font-size: 0.6em;
    letter-spacing: 9px !important;
  }
  .App {
    width: 450px !important;
    font-size: 24px !important;
  }
  .C-Controls {
    height: 50vh;
  }
  .C-Controls .C-Controls-1 {
    row-gap: 30px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -ms-grid-rows: (40px)[4];
        grid-template-rows: repeat(4, 40px);
  }
  .C-Controls .C-Controls-2 {
    -ms-grid-rows: (40px)[1];
        grid-template-rows: repeat(1, 40px);
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 767px) {
  .Calculator {
    height: 90vh !important;
  }
  .C-H-TS-Modes {
    padding-bottom: 5px;
    font-size: 0.6em;
    letter-spacing: 5px !important;
  }
  .button {
    width: 60px;
    height: 20px;
  }
  .knobs:before {
    content: " ";
    position: absolute;
    top: 3px !important;
    left: 4px;
    width: 6px !important;
    height: 1px !important;
    padding: 6px 4px !important;
  }
  .App {
    width: 350px !important;
    font-size: 24px !important;
  }
  .C-Controls {
    height: 50vh;
  }
  .C-Controls .C-Controls-1 {
    row-gap: 30px;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -ms-grid-rows: (40px)[4];
        grid-template-rows: repeat(4, 40px);
  }
  .C-Controls .C-Controls-2 {
    -ms-grid-rows: (40px)[1];
        grid-template-rows: repeat(1, 40px);
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}
/*# sourceMappingURL=App.css.map */